<div style="
        position: absolute;
        left: @(x)px;
        top: @(y)px;
        width: @(width)px;
        height: @(height)px;
        border-color: blue;
        border-width: 2px;
        border-style: solid; @style">
    <div style="height: 7%; background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);">
        <p align="center" style="color:white">@title</p>
    </div>
    <div style="        height: 93%;
        background: #74ebd5; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #74ebd5, #acb6e5); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #74ebd5, #acb6e5);
">
        @ChildContent
    </div>
</div>


@code

{
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public int width { get; set; }
    [Parameter]
    public int height { get; set; }
    [Parameter]
    public int x { get; set; }
    [Parameter]
    public int y { get; set; }
    [Parameter]
    public int fontSize { get; set; }
    [Parameter]
    public string title { get; set; }
    [Parameter]
    public string style { get; set; }

}